.BookItem {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.BookItemImage {
  height: 180px;
  background: #f2f2f2;
}

.BookItemImage img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.BookItemTitle {
  margin: 10px 0px;
}

.BookItemText {
  font-size: 12px;
  margin: 0px;
  margin-bottom: 5px;
}

.BookItemActions {
  display: flex;
  margin: 10px 0px;
}

.BookItemActionItem {
  padding: 0px 10px;
}

.BookItemActionItem p {
  margin-bottom: 0px;
}

.BookItemActionItem:first-child {
  padding-left: 0px;
  padding-right: 5px;
}

.BookItemActionItem:last-child {
  border-left: 1px solid #eeeeee;
}

.BookItemCopyText {
  color: #65c100;
  margin-left: 15px;
}

.BookAddToCart {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  padding: 0px;
}

.BookAddToCart img {
  width: 14px;
  margin-right: 5px;
}

.bookDetailsBlock {
  padding: 30px;
}

.bookDetailsNav {
  display: flex;
  margin-bottom: 20px;
}

.bookDetailsNav h5 {
  margin: 0px;
  margin-left: 20px;
}

.bookDetailsImgBlock {
  width: 133px;
  height: 200px;
}

.bookDetailsImgBlock img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.bookDetailsBlock h1 {
  margin: 30px 0px;
}

.bookDetailsLabelBox h5 {
  margin: 0px;
  margin-bottom: 7px;
}

.bookDetailsLabelBox span {
  font-size: 14px;
}

.BookActions {
  margin: 30px 0px;
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}

.BookDetailsGenreTagBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bookDetailsAddToCartButton {
  display: flex;
  width: 100%;
  align-items: center;
  border: none;
  background: #000;
  color: white;
  justify-content: space-between;
  padding: 5px 20px;
  margin: 20px 0px;
}

.bookDetailsAddToCartInfo h4 {
  margin: 0px;
  text-align: left;
}

.bookDetailsAddToCartInfo p {
  margin: 0px;
  color: #65c100;
}

.bookDetailsPrice {
  font-size: 20px;
}

.bookDetailsDesc {
  line-height: 23px;
  font-size: 15px;
}
